/** html tag **/
* {
	clear:both;
    margin: 0;
    padding: 0;
	display:flex;
}
body{
	display:block;
}
/** not_object tag **/
img{
	width:  6em;
	height: 6em;
}
a{
	text-align: center;
	text-decoration: none;
}

/**object tag **/
.frame_set{
	background-color: gray;
	margin:0px;
	display: block;
}
.frame{
	margin:1px;
	margin-top: 1px;
	margin-bottom:1px;
}